In [1]:
data = "all about data types in python"
data.title()

'All About Data Types In Python'

In [3]:
data.center(50)

'          all about data types in python          '

All About Data Types In Python

In [5]:
#numeric data

x = 10 #int
y = 10.5 #float
z = 10+5j #complex [here 10 is real number and the 5j is the imaginery part]

In [6]:
type(z)

complex

In [7]:
import sys
sys.getsizeof(z)

32

In [8]:
sys.getsizeof(y)

24

In [9]:
sys.getsizeof(x)

28

In [10]:
isinstance(x, int) #to find out the data types

True

In [11]:
isinstance(z, float)

False

In [12]:
isinstance(10,float)

False

In [13]:
type(10)

int

In [14]:
#int to float
n = float(x)

In [15]:
type(n)

float

In [16]:
n

10.0

In [17]:
n = complex(x) #int to complex

In [18]:
n

(10+0j)

In [19]:
type(n)

complex

In [20]:
n = int(z) #its not possible to convert the complex number into a int or float.

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [21]:
n = float(z)

TypeError: float() argument must be a string or a real number, not 'complex'

In [25]:
num = complex(input("Enter a complex number: "))
print("the complex number is", num)

Enter a complex number:  5+0j

the complex number is (5+0j)

In [26]:
type(num)

complex

Bool

In [27]:
x = True # the first letter "T" and "F" must be in capital case.
y = False

In [28]:
x

True

In [29]:
y

False

Sequence Data

In [30]:
#list []
l = [1,3,6,True,[9,8],'data',(1,2,3,4)] # must use square brackets. Can keep any kinds of data inside a list.

In [31]:
l

[1, 3, 6, True, [9, 8], 'data', (1, 2, 3, 4)]

In [32]:
l[0] #list maintains there order thats why it is a sequence type data. we actually finding the index of this list.

1

In [33]:
l[-1] # negative indexing start from the last of the list. and it starts with '-1'.

(1, 2, 3, 4)

In [34]:
l[-1][-1] #to access the value inside the tuple we can do this.

4

In [35]:
isinstance(l, list)

True

In [36]:
type(l)

list

In [37]:
# tuple()
t = (1,3,6,True,[9,8],'data',(1,2,3,4))

In [38]:
type(t)

tuple

In [39]:
t[0]

1

In [40]:
t[3]

True

In [43]:
t[5][1]

'a'

In [56]:
t[0:4] # colon means to : here it means o to '4-1'

(1, 3, 6, True)

In [45]:
z = list(t)

In [46]:
z

[1, 3, 6, True, [9, 8], 'data', (1, 2, 3, 4)]

In [47]:
#range
x = range(10) #first case

In [48]:
x

range(0, 10)

In [49]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
x = range(2,10) #2nd case
for i in x:
    print(i)

2
3
4
5
6
7
8
9

In [58]:
x = range(2,20,3) #3rd case
for i in x:
    print(i)

2
5
8
11
14
17

In [1]:
x = range(20,5,-3) #4th case its all about reverse
for i in x:
    print(i)

20
17
14
11
8

In [2]:
#array [ its like the 'list' data type but it can only stores one kind of value.
import array as ar

In [3]:
a = ar.array([1,2,3,4])

TypeError: array() argument 1 must be a unicode character, not list

In [5]:
a = ar.array('i',[1,2,3,4]) # we have to mention the unicode character like this one is integer "i"

In [6]:
type(a)

array.array

In [8]:
a = ar.array('f',[1,2,3,4])

In [9]:
type(a)

array.array

In [10]:
#string
x = 'data science'
type(x)

str

In [11]:
x = '''mango
coconut
orange
lemon'''

In [12]:
print(x)

mango
coconut
orange
lemon

In [13]:
#set
s = {1,23,2}
type(s)

set

In [22]:
#dictionary _ central data structure

dic = {
    'varsity': 'PSTU',
    'ID': '155548',
    'reg': '00028'
}

In [17]:
type(dic)
print(dic)

{'varsity': 'PSTU', 'ID': '1906048', 'reg': '09128'}

In [18]:
type(dic)

dict

In [23]:
dic.keys()

dict_keys(['varsity', 'ID', 'reg'])

In [24]:
dic.values()

dict_values(['PSTU', '155548', '00028'])

Data Frame (Pandas)

In [8]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd
df = pd.read_csv('Data Cleaning Start.csv')

In [4]:
df.head()

,Date,Client,Contact,Department,Region,Payment,Revenue,Profit,Profit Margin
0,5/30/2023,"amazon.com, inc.",Bill Smith,Cloud Tech,Texas,Transfer,"$4,500",$598,13.3%
1,5/30/2023,"tesla, inc.",Ken Singh,Strategy,New York,PayPal,"$3,800","$1,045",27.5%
2,5/30/2023,"netflix, inc.",Harley Fritz,Strategy,New York,NaN,"$3,713","$1,009",27.2%
3,5/30/2023,the procter & gamble company,Nyla Novak,Operations,Florida,NaN,NaN,$779,NaN
4,5/30/2023,"the goldman sachs group, inc.",David Rasmussen,Operations,Florida,Check,"$5,000",$684,13.7%

In [7]:
df.shape

(39, 9)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           28 non-null     object
 1   Client         28 non-null     object
 2   Contact        28 non-null     object
 3   Department     28 non-null     object
 4   Region         28 non-null     object
 5   Payment        26 non-null     object
 6   Revenue        26 non-null     object
 7   Profit         28 non-null     object
 8   Profit Margin  26 non-null     object
dtypes: object(9)
memory usage: 2.9+ KB

In [10]:
df.head(28)

,Date,Client,Contact,Department,Region,Payment,Revenue,Profit,Profit Margin
0,5/30/2023,"amazon.com, inc.",Bill Smith,Cloud Tech,Texas,Transfer,"$4,500",$598,13.3%
1,5/30/2023,"tesla, inc.",Ken Singh,Strategy,New York,PayPal,"$3,800","$1,045",27.5%
2,5/30/2023,"netflix, inc.",Harley Fritz,Strategy,New York,NaN,"$3,713","$1,009",27.2%
3,5/30/2023,the procter & gamble company,Nyla Novak,Operations,Florida,NaN,NaN,$779,NaN
4,5/30/2023,"the goldman sachs group, inc.",David Rasmussen,Operations,Florida,Check,"$5,000",$684,13.7%
5,5/31/2023,jpmorgan chase & co.,Ivan Hiney,Cloud Tech,Texas,Transfer,"$6,100",$544,8.9%
6,5/31/2023,morgan stanley,Jonha Ma,Cloud Tech,Texas,Transfer,"$4,625",$670,14.5%
7,5/31/2023,citigroup inc.,Jordan Boone,Cloud Tech,Texas,Transfer,"$3,800","$2,045",53.8%
8,5/31/2023,bank of america corporation,Kylee Townsend,Cloud Tech,Texas,Card,"$3,600","$1,564",43.4%
9,5/31/2023,walmart inc.,Nora Rollins,Cloud Tech,Texas,Check,"$5,100","$1,220",23.9%
10,5/31/2023,target corporation,Brendan Wallace,Cloud Tech,Texas,Check,"$4,750","$1,435",30.2%
11,5/31/2023,costco wholesale corporation,Conor Wise,Operations,Florida,Transfer,"$6,000",$998,16.6%
12,5/31/2023,mcdonald's corporation,Steven Michael,Big Data,California,Check,"$4,500",$780,17.3%
13,6/1/2023,exxon mobil corporation,Lucia Mckay,Big Data,California,Card,NaN,"$1,044",NaN
14,6/1/2023,verizon communications inc.,Jose Roach,Big Data,California,Transfer,"$3,713","$1,222",32.9%
15,6/1/2023,"the home depot, inc.",Franklin Wrigt,Big Data,California,Transfer,"$4,950","$1,065",21.5%
16,6/1/2023,"cisco systems, inc.",Alia Thornton,Operations,Florida,Transfer,"$4,750",$810,17.1%
17,6/1/2023,chevron corporation,Denzel Flores,Operations,Florida,Transfer,"$7,320",$933,12.7%
18,6/1/2023,at&t inc.,Bruno Cordova,Big Data,California,Transfer,"$5,088",$655,12.9%
19,6/1/2023,intel corporation,Jaylynn Napp,Big Data,California,Transfer,"$4,500",$722,16.0%
20,6/1/2023,general motors company,Bruce Rich,Big Data,California,Card,"$4,250",$901,21.2%
21,6/2/2023,microsoft corporation,Arturo Moore,Big Data,California,PayPal,"$5,250","$1,349",25.7%
22,6/2/2023,comcast corporation,Bryce Carpenter,Strategy,New York,PayPal,"$6,500","$1,288",19.8%
23,6/2/2023,dell technologies inc.,Jaidyn Andersen,Strategy,New York,PayPal,"$7,500","$1,664",22.2%
24,6/2/2023,johnson & johnson,Mark Walm,Strategy,New York,Transfer,"$5,500","$1,320",24.0%
25,6/2/2023,fedex corporation,Harry Lee,Strategy,New York,Transfer,"$4,625","$1,001",21.6%
26,6/2/2023,general electric company,Josh Johnson,Strategy,New York,Transfer,"$4,500",$960,21.3%
27,6/2/2023,lockheed martin corporation,Mik Naam,Strategy,New York,Card,"$5,400",$540,10.0%

In [17]:
#Binary types

byte_arr = bytearray('ABCDEF','utf-8') # we have to mention the uniform transformation format like "utf-8"

In [18]:
type(byte_arr)

bytearray

In [19]:
byte_arr

bytearray(b'ABCDEF')

In [20]:
memoryview(byte_arr)

In [21]:
memoryview(byte_arr)[0]

65

In [22]:
mv = memoryview(byte_arr)
mv[0] = 97

In [23]:
memoryview(byte_arr)[0]

97

In [24]:
byte_arr

bytearray(b'aBCDEF')